RewriteEngine On
AddDefaultCharset UTF-8
RewriteCond %{REQUEST_METHOD} =POST
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
